<% var title = 'Connexion - Pictionnary' %>
<% include head %>
<script src="js/fb.js"></script>

<div class="container">
  <div class="col-md-offset-4 col-md-4" >
    <img src="img/logo_pictionnary.png" width="100%"/>
  </div>
  <div class="col-md-offset-3 col-md-6" >

    <h2 class="text-center">Connectez-vous</h2>

    <div class="alert alert-info" role="alert">
      <span class="required_notification">Pas encore inscrit ?<b>
          <a href="/subscribe"> Inscription</a></b>
      </span>
    </div>

    <% if(errors.length != 0) { %>
      <div class="alert alert-danger" role="alert">
        <p class="required_notification"> Voici vos erreurs : </p>
          <ul>
            <% errors.forEach(function(error){ %>
              <li> <%= error %> </li>
            <% }); %>
          </ul>

      </div>
    <% } %>
    <h3>via Facebook, Twitter, Google+</h3>
    <a href="auth/facebook" class="btn btn-block btn-social btn-facebook" >
      <span class="fa fa-facebook"></span> Connexion avec Facebook
    </a>
    <a href="auth/googleplus" class="btn btn-block btn-social btn-twitter">
      <span class="fa fa-twitter"></span> Connexion avec Twitter
    </a>
    <a href="auth/twitter" class="btn btn-block btn-social btn-google">
      <span class="fa fa-google"></span> Connexion avec Google +
    </a>
    <div id="status"></div>
    <br />
    <h3>via Email</h3>
      <form class="connexion" method="post" name="connexion" action="/login">

        <div class="form-group">
          <label for="email">Login</label>
          <input type="email" class="form-control" id="email" name="email" autofocus placeholder="exemple@mail.fr" required/>
        </div>  
                         
        <div class="form-group">
          <label for="password">Mot de passe * </label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" pattern="[a-zA-Z0-9]{4,8}" required/>
          <span class="form_hint">De 6 à 8 caractères alphanumériques.</span>
        </div>
                      
        <div class="col-md-offset-4 col-md-3">
          <button type="submit" class="btn btn-lg btn-success">Connexion</button>
        </div>

      </form>
  </div>
<% include foot %>